.App .center {
  text-align: center;
}

.App .actions .btn {
  margin: 0 1px;
  width: 10em;
}

.bottomHalf {
  height: 40vh;
}

.half {
  display: inline-block;
  width: 50%;
}

.App textarea {
  background-color: #303d4f;
  color: #aaa;
}

.App textarea:focus {
  background-color: #404d5f;
  color: #aaa;
}

.App .CodeMirror {
  height: 40vh;
}

.App .CodeMirror {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: rgb(220, 220, 220);
  background-color: #303d4f;
  font-size: 14px;
}

.App .cm-s-default .cm-tag {
  color: rgb(86, 156, 214);
}

.App .cm-s-default .cm-attribute {
  color: rgb(156, 220, 254);
}

.App .cm-s-default .cm-string {
  color: rgb(214, 157, 133);
}

.App .cm-s-default .cm-comment {
  color: rgb(87, 166, 74);
}

.App .CodeMirror-gutters {
  border-right: none;
  border-left: 1px solid rgba(220, 220, 220, 0.2);
  margin-right: 10px;
  color: rgb(220, 220, 220);
  background-color: #303d4f;
  white-space: nowrap;
}

.App .CodeMirror-cursor {
  border-left: 1px solid rgb(220, 220, 220);
}

.App .CodeMirror-selected,
.App .CodeMirror-focused .CodeMirror-selected {
  background-color: #404d5f;
  background: #404d5f;
}